.img{
    color: red
}

.btn-img{
    /* background-color:white; */
  border-radius: 5;
  border-width: 0.2;
  color: black;
  margin: 5;
  text-align: center;
  font-size: 22;
  background-color: white;
}