<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<StackLayout>
    <StackLayout height="40%">
        <GridLayout [carousel]="images" style="size: 10px" carouselLabelOverlay="true" carouselSpeed="3000">
        </GridLayout>
    </StackLayout>

    <!-- <SegmentedBar  [items]="myItems" selectedIndex="0" (selectedIndexChange)="onSelectedIndexChange($event)" class="m-5"></SegmentedBar>  -->
    <!-- <Label class="page-icon fa" text="&#xf015;"></Label>
        <Label class="page-placeholder" text="<!-- Page content goes here"></Label> -->
    <ScrollView orientation="horizontal">
        <GridLayout columns="*,*,*,*,*" width="100%" height="15%">

            <CardView>
            <StackLayout col="0">
                <GridLayout rows="2*,*" columns="*">
                    <Image row="0" col="0" style="align-content: center" src="res://man"></Image>
                    <Label row="1" col="0" style="text-align: center" text="Man"></Label>
                </GridLayout>
            </StackLayout>
        </CardView>
            <StackLayout col="1">
                <GridLayout rows="2*,*" columns="*">
                    <Image row="0" col="0" style="align-content: center" src="res://womanshooping"></Image>
                    <Label row="1" col="0" style="text-align: center" text="Woman"></Label>
                </GridLayout>
            </StackLayout>

            <StackLayout col="2">
                <GridLayout rows="2*,*" columns="*">
                    <Image row="0" col="0" style="align-content: center" src="res://elc"></Image>
                    <Label row="1" col="0" style="text-align: center" text="Electronics"></Label>
                </GridLayout>
            </StackLayout>

            <StackLayout col="3">
                <GridLayout rows="2*,*" columns="*">
                    <Image row="0" col="0" style="align-content: center" src="res://food"></Image>
                    <Label row="1" col="0" style="text-align: center" text="Groceries"></Label>
                </GridLayout>
            </StackLayout>


            <StackLayout col="4">
                <GridLayout rows="2*,*" columns="*">
                    <Image row="0" col="0" style="align-content: center" src="res://food"></Image>
                    <Label row="1" col="0" style="text-align: center" text="Groceries"></Label>
                </GridLayout>
            </StackLayout>
       
        </GridLayout>
    </ScrollView>


    <StackLayout width="98%">
        <ScrollView orientation="vertical" #scrollR>
          <GridLayout columns="*,*" [rows]="arryrows">
            <StackLayout  (tap)="onNavItemTap('/ProductDetails')" *ngFor="let data of datadisplay" orientation="vertical"  [col]="data.columncount" ; [row]="data.rowcount" >
              <CardView class="btn-img" style="margin: 5px">
             <StackLayout>
              <image style="font-size: 40%; font-weight: bold" [src]="data.imgurl" width="40%"></image>
              <GridLayout columns="*,*" style="margin-top: 10px" orientation="horizontal">
              <Label col="0">
                    <FormattedString style="text-align: left">
                            <Span style="font-size: 15px" text="{{data.name}}" fontAttributes="Bold" color="#000000"></Span>
                        </FormattedString>
              </Label>
              <Label  col="1">
                    <FormattedString style="text-align: right">
                            <Span style="font-size: 10px;margin-top: 5%" text="INR:50" color="#0099cc"></Span>
                        </FormattedString>
              </Label>
            </GridLayout>
            </StackLayout>
            </CardView>
            </StackLayout>
          </GridLayout>
        </ScrollView>
      </StackLayout> 


      <!-- <ListView [items]="datadisplay">
            <ng-template let-data="item">
                    <GridLayout columns="*,*" [rows]="arryrows">
                <CardView class="cardStyle" [col]="data.columncount" ; [row]="data.rowcount">
                  <StackLayout class="cardContent"></StackLayout>
                        <image style="font-size: 40%; font-weight: bold" [src]="data.imgurl" width="30%"></image>
                        <Label text="{{data.name}}" verticalAlignment="center"></Label>                  </StackLayout>      
                </CardView>
            </GridLayout>
            </ng-template>
          </ListView> -->
<!-- 
      <CardView>
             <GridLayout rows="10,30,30,250, auto, auto,10" columns="10,40, *, 30,10">
                <Image src="res://img" stretch="aspectFit" verticalAlignment="stretch" col="1" row="1" rowSpan="2"></Image>
                <Label class="createdBy text-left" horizontalAlignment="left"  row="1" col="2" textWrap="true"></Label>
                <Label class="createdOn text-left" horizontalAlignment="left" row="2" col="2"></Label>
                <Image  stretch="aspectFit" colSpan="3" col="1" row="3"></Image>
                <Label horizontalAlignment="left" colSpan="3" row="4" textWrap="true" col="1"></Label>
                <Label  horizontalAlignment="left"  textWrap="true" col="1" row="5" colSpan="3"></Label>
            </GridLayout>
        </CardView>  -->
</StackLayout>