<ActionBar class="action-bar">
    <NavigationButton tap="onBackButtonTap" android.systemIcon="ic_menu_back" ></NavigationButton>
    <Label class="action-bar-title" horizontalAlignment="center" ></Label>
</ActionBar>

<GridLayout class="page-content">
    <ScrollView>
        <GridLayout rows="auto, auto, auto">
                <StackLayout  height="200" >
            <Image src="res://img" style="height: 100;width: 200;margin-top: 20"></Image>
        </StackLayout>
            <StackLayout row="1" class="hr-light m-t-15 m-b-15"></StackLayout>

            <GridLayout row="2" rows="*, *, *, *, *, *" columns="auto,auto">
                <Label text="Price" class="p-l-15 p-b-10 m-r-20 text-secondary"></Label>
                <Label col="1" class="text p-b-10">
                    <FormattedString>
                        <Span text="€"></Span>
                        <Span text="" ></Span>
                        <Span text="/day" ></Span>
                    </FormattedString>
                </Label>

                <Label text="Class" row="1" class="p-l-15 p-b-10 m-r-20 text-secondary" > </Label>
                <Label text="" row="1" col="1" class="text p-b-10" > </Label>
                
                <Label text="Doors" row="2" class="p-l-15 p-b-10 m-r-20 text-secondary"></Label>
                <Label text="" row="2" col="1" class="text p-b-10"> </Label>
                <Label text="Seats" row="3" class="p-l-15 p-b-10 m-r-20 text-secondary" ></Label>
                <Label text="" row="3" col="1" class="text p-b-10" > </Label>

                <Label text="Transmission" row="4" class="p-l-15 p-b-10 m-r-20 text-secondary" ></Label>                <Label text="" row="4" col="1" class="text p-b-10" ></Label>

                <Label text="Luggage" row="5" class="p-l-15 p-b-10 m-r-20 text-secondary"></Label>
                <Label text="" row="5" col="1" class="text p-b-10"></Label>
            </GridLayout>
        </GridLayout>
    </ScrollView>
</GridLayout>